.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1e9;
  padding: 10px 40px;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: brown;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu > li {
  position: relative;
}

.nav-menu a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  display: block;
  transition: background 0.3s;
}

.nav-menu a:hover {
  background-color:grey;
  border-radius: 4px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  padding: 10px 0;
  border-radius: 4px;
  min-width: 180px;
  z-index: 999;
}

.dropdown-menu li a {
  padding: 10px 20px;
  color: white;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}


.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 15px 20px;
  font-size: 24px;
  width: 400px;
  max-width: 90%;
  border: none;
  border-bottom: 2px solid #c9a17a; 
  outline: none;
  background: transparent;
  color: #333;
  font-style: italic;
}

.search-box input::placeholder {
  color: #c9a17a;
  font-style: italic;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -30px;
  font-size: 40px;
  color: #c9a17a;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf0;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 60px 30px;
  background: white;
  min-height: 100vh;
  align-items: center;
}

.product-image img {
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.product-details {
  max-width: 500px;
  padding: 20px;
}

.product-details h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #4a2c2a;
}

.product-details .price {
  font-size: 1.4rem;
  color: #444;
}

.product-details .description {
  margin: 20px 0;
  font-size: 1rem;
  color: #777;
}

.add-to-cart {
  padding: 12px 25px;
  background-color: #4a2c2a;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #3a1f1e;
}
